/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos del nav*/
.color-nav {
  background: linear-gradient(to bottom, rgba(105, 113, 114, 0.89), #918f8f, #eaecf1); }

.position {
  position: sticky;
  top: 0%;
  z-index: 1; }
  .position nav div .nav-text-style {
    transition: 1s;
    margin: 0.5rem0;
    font-size: 1.2rem;
    font-family: "Varela Round", sans-serif;
    filter: drop-shadow(1px 1px 1px black); }
    .position nav div .nav-text-style a {
      color: aliceblue; }
    .position nav div .nav-text-style:hover {
      transform: scale(1.03);
      background: linear-gradient(to right, #318add 20%, #757377 40%, #feffff 60%, #318add 80%);
      background-size: 200% auto;
      text-decoration: bold;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 5s linear infinite; }

@keyframes shine {
  to {
    background-position: 200% center; } }

/* logo*/
#logo {
  filter: drop-shadow(0.5px 0.5px 0.5px #020202);
  transition: 1s;
  margin-right: 3rem; }
  #logo:hover {
    transform: scale(1.1); }

/*estilos body*/
body {
  background-color: #e5ebeb; }

/* estilos del home */
body {
  background-color: #e5ebeb; }

main #eslogan {
  display: block;
  text-align: center;
  font-family: "Great Vibes", cursive;
  text-shadow: 1px 1px 3px black;
  font-size: 2.5rem;
  margin-top: 0.7rem; }

main #p-index {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  text-shadow: 1px 1px 3px black;
  color: #918f8f; }

main .calesita {
  display: none; }

main section #img-cel {
  display: flex;
  width: 450px;
  height: 250px;
  border-radius: 5px 40px;
  box-shadow: 3px 3px 5px black; }

/*estilos de nosotros */
.main-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-nosotros img {
    width: 50%; }
  .main-nosotros p {
    display: flex;
    text-align: justify;
    margin: 1rem;
    letter-spacing: 0.1rem; }

/* hover imagenes */
main div .galeria-hover {
  transition: 1s; }
  main div .galeria-hover:hover {
    transform: scale(1.04); }

/* estilos de servicios */
.main-servicios div .subtitulo {
  color: rgba(105, 113, 114, 0.89); }
  .main-servicios div .subtitulo:hover {
    transform: scale(1.03);
    background: linear-gradient(to right, #318add 20%, #757377 40%, #feffff 60%, #318add 80%);
    background-size: 200% auto;
    text-decoration: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    filter: drop-shadow(1px 1px 1px black); }

.main-servicios div p {
  display: flex;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.15; }

.main-servicios div img {
  display: flex;
  width: 250px;
  height: 450px;
  border-radius: 5px 40px;
  box-shadow: 3px 3px 5px black; }

.main-servicios div .nolink {
  text-decoration: none; }

/* estilos del footer */
.footer-1 {
  background: linear-gradient(to bottom, #eaecf1, #918f8f, rgba(105, 113, 114, 0.89));
  margin-top: 1rem;
  bottom: 0%; }

.logos-redes {
  margin: 0.5rem;
  height: 4%;
  width: 4%;
  transition: 0.5s; }
  .logos-redes:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 1px #0011ff); }

.footer-2 {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1rem; }

div h2 {
  font-size: 1rem; }

/* media queries */
/* mq index */
@media screen and (min-width: 600px) {
  main .eslogan {
    text-align: center;
    font-family: "Great Vibes", cursive;
    text-shadow: 1px 1px 3px black;
    font-size: 3rem;
    margin-top: 0.7rem; }
  main section .calesita {
    display: none; }
  main section #img-cel {
    display: flex;
    width: 570px;
    height: 340px;
    border-radius: 5px 40px;
    box-shadow: 3px 3px 5px black; }
  .footer-1 {
    display: block; } }

@media screen and (min-width: 992px) {
  main #eslogan {
    text-align: center;
    font-family: "Great Vibes", cursive;
    text-shadow: 1px 1px 3px black;
    font-size: 4rem;
    margin-top: 0.7rem; }
  main section .mobile-home {
    display: none; }
  main section .calesita {
    display: block; }
  /* estilos del carousel */
  main div .carousel {
    margin-bottom: 6rem; }
  .carousel-caption {
    bottom: 10rem; }
  .carousel-item {
    height: 39rem; }
    .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 100%;
      opacity: 60%; }
  /* mq nosotros */ }

@media screen and (min-width: 992px) and (min-width: 761px) {
  .main-nosotros {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: "h2 img" "p-uno img" "p-dos img";
    /*alineacion */
    justify-content: center;
    justify-items: center; }
  .main-nosotros .p-uno {
    grid-area: p-uno;
    text-align: justify;
    margin: 0.5rem;
    font-family: "Varela Round", sans-serif; }
  .main-nosotros img {
    grid-area: img;
    width: 95%;
    margin-top: 7rem;
    filter: drop-shadow(4px 3px 2px black); }
  .main-nosotros .p-dos {
    grid-area: p-dos;
    text-align: justify;
    margin: 0.5rem;
    font-family: "Varela Round", sans-serif;
    text-decoration: double; } }

@media screen and (min-width: 992px) {
  /* mq servicios */ }

@media screen and (min-width: 992px) and (min-width: 780px) {
  .main-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "h3-uno h3-dos h3-tres" "img-uno img-dos img-tres" "p-uno p-dos p-tres" "boton boton boton"; }
  .main-servicios .h3-uno {
    grid-area: h3-uno; }
  .main-servicios .h3-dos {
    grid-area: h3-dos; }
  .main-servicios .h3-tres {
    grid-area: h3-tres; }
  .main-servicios .boton {
    grid-area: boton; }
  .main-servicios .img-uno {
    grid-area: img-uno;
    width: 250px;
    height: 450px;
    border-radius: 5px 40px;
    box-shadow: 3px 3px 5px black; }
  .main-servicios .img-dos {
    grid-area: img-dos;
    width: 250px;
    height: 450px;
    border-radius: 5px 40px;
    box-shadow: 3px 3px 5px black; }
  .main-servicios .img-tres {
    grid-area: img-tres;
    width: 250px;
    height: 450px;
    border-radius: 5px 40px;
    box-shadow: 3px 3px 5px black; }
  .main-servicios .p-uno {
    grid-area: p-uno;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem; }
  .main-servicios .p-dos {
    grid-area: p-dos;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem; }
  .main-servicios .p-tres {
    grid-area: p-tres;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem; } }

/* extend scss */
.main-servicios div {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*gradiente del texto*/
.textogradiente {
  display: flex;
  filter: drop-shadow(1px 1px 2px black);
  font-size: 4rem;
  text-align: center;
  background: linear-gradient(to left, #454a50 20%, #757377 40%, #f5f5f5 60%, #454a50 80%);
  background-size: 200% auto;
  text-decoration: bold;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite; }

@keyframes shine {
  to {
    background-position: 200% center; } }

.textogradiente-2 {
  display: flex;
  filter: drop-shadow(1px 1px 2px black);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 6rem;
  text-align: center;
  background: linear-gradient(to left, #0e488f 20%, #7273ad 40%, #cdccdf 60%, #0e488f 80%);
  background-size: 200% auto;
  text-decoration: bold;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite; }

@keyframes shine {
  to {
    background-position: 200% center; } }
