/*estilos body*/

body {
    background-color: $color-principal;

    
}

html body::-webkit-scrollbar {
    width: 10px; }
  
  html body::-webkit-scrollbar-track {
    background: $color-principal }
  
  html body::-webkit-scrollbar-thumb {
    background-color: $color-fondo-nav2;
    border-radius: 8px; }