// estilos del home

/* estilos del home */

main {
  .eslogan {
  display: block;
  text-align: center;
  font-family: $font4;  
  text-shadow: 1px 1px 3px $color-shadow;
  font-size: 2rem;
  margin-top: 0.7rem;
  }  
    
  .calesita {
      display: none;
    }
  
  .celpho {
      display: flex;
      width: 100%;
  }
}

