
/*estilos de nosotros */

.main-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;

     img {
        width: 50%;
        
    }

    p { 
        display: flex;
        text-align: justify;
        margin: 1rem;
        letter-spacing: 0.1rem;
        
    }
}

