/* estilos de servicios */

.main-servicios div {
    @extend %flex;

    .subtitulo {
        color: $color-fondo-nav;

        &:hover{
            transform: scale(1.03);
            background: linear-gradient(to right, #318add 20%, #757377 40%, #feffff 60%, #318add 80%);
            background-size: 200% auto;
            text-decoration: bold;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 5s linear infinite; 
            filter: drop-shadow(1px 1px 1px black);
            
        }
        
    }
    
    p {
        display: flex;
        text-align: justify;
        font-family: $font3;
        font-size: 1.2rem;
        margin: 3rem;
        letter-spacing: 0.15;
            
    }

    img {
        display: flex;
        @include sizes(250px, 450px);
        border-radius: 5px 40px;
        box-shadow: 3px 3px 5px $color-shadow;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    
}
    .nolink {
        text-decoration: none;
    }
}



