// variables

//paleta de colores

$color-principal: rgb(229, 235, 235);
$color-fondo-nav: rgba(105, 113, 114, 0.795);
$color-text-hover: aliceblue;
$color-h1: rgb(43, 43, 46);
$color-h2-carousel: rgb(23, 27, 34);
$color-footer1: rgba(0, 0, 0, 0.568);
$color-footer2:  rgba(0, 0, 0, 0.2);
$color-p: rgb(0, 55, 104);
$color-hover: rgb(0, 17, 255);
$color-shadow: black;

// tipografia

$font: 'Varela Round', sans-serif;
$font2: 'Pacifico', cursive;
$font3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


